body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #444;
    padding: 10px 0;
}

nav a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background: #555;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    min-height: 100vh; /* Ensures the container takes at least the full height of the viewport */
    overflow: auto; /* Allows the container to expand as needed to fit all content */
}

h1, h2 {
    color: #444;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
